<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestSuiteForAllHomePageUrls">

    <test name="LoanDepartmenttests">
        <classes>
            <class name="BasicsTestNG.TestNGDemo1">
                    <methods>
                        <exclude name="mobile.*"/>
                        <include name="restapiLoginCarLoan"/>
                        <include name="webLoginCarLoan"/>
                    </methods>
            </class>
        </classes>
    </test>

    <test name="BasicDemoTests">
        <packages>
            <package name="BasicsTestNG"/>
        </packages>
    </test>
</suite>